.container-button {
  position: fixed;
  width: 40%;
  max-width: 420px;
  height: 140px;
  padding: 10px;
  top: 67%;
  left: 72%;
  transform: translate(-49%, -50%);
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-decoration: none;
  column-gap: 19px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  border-style: solid;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.633);
  backdrop-filter: blur(10px);
  border: 20px solid rgba(255, 0, 247, 0.8);
  border-radius: 20px;
  box-shadow: 0px 0px 8px 6px rgba(255, 0, 247, 0.8);
  margin-bottom: 10px;
  padding: 18px;
}

/* Other styles remain unchanged */

.Copy-button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(88, 11, 11, 0.5);
}

/* Rest of your CSS remains the same */

.copy-button-container {
  background-color: #000000;
  margin-top: 8px;
  border-radius: 15px;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
  font-weight: bolder;
  font-size: larger;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 10px;
}

.button-row-right {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.Copy-button {
  background: transparent;
  border: 2px solid #8a2be2;
  border-radius: 5px;
  color: #8a2be2;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  border-radius: 20px;
}

.copied-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(158, 12, 141, 0.7);
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  z-index: 9999;
  font-weight: bold;
}

.Copy-button:hover .copied-message {
  opacity: 1;
}

/* Media Query for larger screens */
@media screen and (min-width: 1920px) {
  .container-button {
    max-width: 1080px;
    height: 230px; /* Adjusted height for larger screens */
    padding: 20px; /* Adjusted padding for larger screens */
  }

  .Copy-button {
    width: calc(20% - 10px);
  }
}

.container-button:hover .copied-message {
  opacity: 1;
}

.container-button:hover {
  border-color: rgba(255, 0, 0, 0.5);
  border-radius: 30px;
}
