/* Dark glass background */
.transaction-container {
  width: 90%;
  margin: 10px auto;
  padding: 0px;
  background-color: #00000010;
  border-radius: 25px;
  padding: 1px 1px;
  cursor: pointer;
  font-size: 16px;
  line-height: 14px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: border-color 0.3s ease, border-radius 0.3s ease;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 8px 6px rgba(221, 13, 211, 0.8);
  transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  margin-top: 5%;
}

.transaction-container:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 3px 8px rgba(104, 6, 101, 0.8);
}

.input-row {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  background-color: transparent;
  border-color: rgba(133, 10, 185, 0.8);
  box-shadow: 0 0 20px rgba(133, 10, 185, 0.8);
  margin-top: 25px; /* Adjust the value as needed */
}


/* Adjust styles for smaller screen sizes */
@media screen and (max-width: 768px) {
  input {
    font-size: 14px;
  }
}

input:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.044);
}

input:hover {
  border-color: rgba(255, 0, 247, 0.8);
}

/* Initially invisible */
.input-row:last-child input[type='text'] {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}/* Visible on copy button click */
.input-row:last-child input[type='text'].visible {
  opacity: 1;
  height: auto;
  margin-top: 10px;
}

.copy-button,
.reset-button {
  background: transparent;
  padding: 14px 24px; /* Updated padding for larger size */
  margin-right: 10px;
  border: 2px solid transparent;
  border-color: #8a2be2;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 10px;
  font-size: 18px; /* Updated font size */
}

.copy-button:hover {
  background-color: #8a2be2;
  border-color: #8a2be2; /* Purple color */
  box-shadow: 0 0 10px rgba(138, 43, 226, 0.7); /* Glow effect */
}

.reset-button {
  background-color: transparent;
  border: 2px solid transparent;
  border-color: #c82333;
}

.reset-button:hover {
  background-color: #c82333;
  border-color: #c82333;
}

/* For the final result input */
.input-row:last-child input[type='text'] {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
  background-color: transparent;
  border: none;
  color: antiquewhite;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
}

.input-row:last-child input[type='text'].visible {
  opacity: 1;
  height: auto;
}
