/* Footer.css */
.footer-container {
  position: fixed;
  bottom: 0;
  width: 88%;
  min-height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1d2b3a;
  color: white;
  padding: 10px;
  margin-bottom: 80px;
  border-radius: 20px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  border-style: solid;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(100, 0, 0, 0.2);
  border-radius: 20px;
  box-shadow: 0px 0px 8px 10px rgba(9, 0, 49, 0.8);
  left: 100px;
  cursor: pointer;
}

.footer-container:hover {
  box-shadow: 10px 0px 18px 20px rgba(9, 0, 49, 0.8);
}

.social-icons {
  display: flex;
  gap: 30px;
}

.copyright {
  color: rgb(255, 0, 242)s;
  font-size: large;
  font-weight: bolder;
}

/* Team Profiles Styles */
.team-profiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; /* Increase the gap between profiles for better spacing */
  overflow: hidden;
  position: absolute;
  bottom: 50px;
  right: 50px; /* Adjust the right position as needed */
  border-radius: 20px;
  max-width: 600px; /* Increase the maximum width for a larger container */
  height: auto; /* Allow the container to adjust its height based on content */
  backdrop-filter: blur(10px);
  padding: 20px; /* Add padding for a Glassmorphism effect */
  background-color: rgba(29, 43, 58, 0.8); /* Adjust the background color and opacity */
}

/* Profile Card Styles */
.profile {
  width: 100%; /* Adjust profile width to fill the container */
  height: 150px; /* Adjust profile height */
  transition: transform 0.3s ease; /* Sliding animation */
  background-color: rgba(29, 43, 58, 0.9); /* Glassmorphism effect */
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
}

.team-profiles.hidden .profile {
  transform: translateX(-100%); /* Hide the profiles off-screen */
}

.profile h3 {
  margin-top: 2px;
  padding: 2px;
  margin-bottom: 1px;
}

.profile p {
  font-size: 12px;
  color: #777;
  margin-bottom: 5px;
}

.profile Avatar {
  /* Center the Avatar */
  margin: auto;
}

.blur-background {
  filter: blur(5px); /* Adjust the blur amount as needed */
  pointer-events: none; /* Prevent clicks on the blurred area */
}

